.journal-item {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 20px;
}
.journal-item__body {
  display: flex;
  gap: 10px;
}
.journal-item__header {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.journal-item__date {
  color: gray;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.journal-item__text {
  color: lightgray;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
}
